<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/addProduct}"
      th:object="${productForm}" method="POST">
    Id:
    <input type="text" th:field="*{id}"/>
    Marque:
    <input type="text" th:field="*{marque}"/>
    <br/>
    Model:
    <input type="text" th:field="*{model}"/>
    <br/>
    Couleur:
    <input type="text" th:field="*{color}"/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>